/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General styles for the html and body */
html,
body {
  box-sizing: border-box; /* Makes box model calculations easier */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  font-family: "Quicksand", Arial, sans-serif; /* Sets the font family */
  font-weight: 500; /* Sets the default font weight */
  font-size: 14px; /* Sets the default font size */
  line-height: 1.7; /* Sets the line height for readability */
  margin: 0 auto; /* Centers the body */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  text-align: center; /* Centers text */
}


/* Apply white text color and box-sizing to all elements */
* {
  color: white; /* Sets text color to white */
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

/* Custom scrollbar styles for webkit browsers */
body::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track (background of scrollbar) styles */
body::-webkit-scrollbar-track {
  border-radius: 10px; /* Rounds the corners of the scrollbar track */
}

/* Handle (draggable part of scrollbar) styles */
body::-webkit-scrollbar-thumb {
  background: #666b7a; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounds the corners of the scrollbar handle */
}

/* Textarea styles */
textarea {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding: 1rem; /* Padding inside the textarea */
  background: #253237; /* Background color */
  color: white; /* Text color */
  outline: none; /* Removes outline on focus */
  border: none; /* Removes border */
}

/* Main title styling */
.main-title {
  display: flex; /* Uses flexbox layout */
}

/* H2 styles */
h2 {
  margin: 0; /* Removes default margin */
}

/* Container for the editor */
.editorContainer {      
  background-image: url('back.jpg');/* Sets background image */
  background-repeat: no-repeat; /* Prevents background image from repeating */
  background-attachment: fixed; /* Fixes the background image during scrolling */
  background-position: center; /* Centers the background image */
  background-size: 100%; /* Scales the background image to cover the container */
  height: 50vh; /* Sets height to 50% of viewport height */
  display: flex; /* Uses flexbox layout */
}

/* Favicon styling */
.favicon {
  width: auto; /* Auto width */
  height: 44px; /* Fixed height */
}

/* Responsive adjustments for screens smaller than 850px */
@media (max-width: 850px) {
  .editorContainer {
    flex-direction: column; /* Stacks children vertically */
    height: 66vh; /* Increases height for smaller screens */
  }
}

/* Flex item for collapse element */
.editorContainer .collapse {
  flex-grow: 0; /* Prevents the collapse element from growing */
}

/* Output container styles */
.outputContainer {
  height: 50vh; /* Sets height to 50% of viewport height */
  user-select: none; /* Disables text selection */
  border-bottom: 20px solid hsl(225, 6%, 25%); /* Adds a bottom border */
}

/* Wrapper for editor controls */
.wrapper {
  flex-grow: 1; /* Allows the wrapper to grow */
  flex-basis: 0; /* Initial size is zero */
  display: flex; /* Uses flexbox layout */
  flex-direction: column; /* Stacks children vertically */
  padding: 0.5rem; /* Adds padding */
  background: hsl(255, 6%, 25%); /* Background color */
  position: relative; /* Sets positioning context for absolutely positioned children */
}

/* Title styles within the wrapper */
.title {
  display: flex; /* Uses flexbox layout */
  justify-content: space-between; /* Spaces items evenly */
  background-image: url('back.jpg'); /* Sets background image */
  background-repeat: no-repeat; /* Prevents background image from repeating */
  background-attachment: fixed; /* Fixes the background image */
  background-position: center; /* Centers the background image */
  background-size: 100%; /* Scales the background image */
  color: #fff; /* Text color */
  padding: 0.5rem; /* Padding inside title */
  padding-left: 1rem; /* Additional left padding */
  border-radius: 0.5rem 0.5rem 0 0; /* Rounds top corners */
  font-family: 'Quicksand', sans-serif; /* Sets font family */
  font-size: 1.1rem; /* Sets font size */
  font-weight: 700; /* Sets font weight */
}

/* Control button styles */
.control {
  width: 20px; /* Fixed width */
  height: 20px; /* Fixed height */
  position: relative; /* Sets positioning context */
  background: transparent; /* Transparent background */
  opacity: 70%; /* Slightly transparent */
  border: none; /* Removes border */
  outline: none; /* Removes outline */
  font-size: 1.2rem; /* Font size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin-top: 4px; /* Adds top margin */
  margin-right: 16px; /* Adds right margin */
}

/* Control button before content */
.control::before {
  content: '➕'; /* Adds plus icon */
  position: absolute; /* Positions absolutely within control */
  top: -2px; /* Adjusts vertical position */
  left: -6px; /* Adjusts horizontal position */
  margin: 8px; /* Adds margin */
}

/* .close::before {
  content: '❌';
  position: absolute;
  top: -2px;
  left: -6px;
  margin-top: 8px;
} */

/* Styles for icons within buttons or elements */
.icon {
  margin-right: 5px; /* Adds space to the right of the icon for separation */
}

/* Hidden class for elements that should not be displayed */
.hidden {
  display: none; /* Hides elements */
}

/* Clear button styles */
.clear {
  position: absolute; /* Absolutely positioned */
  top: 65px; /* Sets vertical position */
  right: 15px; /* Sets horizontal position */
  background: hsl(0, 0%, 54%); /* Background color */
  color: #fff; /* Text color */
  border: none; /* Removes border */
  outline: none; /* Removes outline */
  border-radius: 15px; /* Rounds corners */
  opacity: 0.75; /* Slightly transparent */
  display: none; /* Initially hidden */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Show clear button on wrapper hover */
.wrapper:hover .clear {
  display: block; /* Displays clear button on hover */
}

/* Clear button hover effect */
.clear:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Copy button styles */
.copy-btn {
  background: #212d31; /* Background color */
  border: none; /* Removes border */
  cursor: pointer; /* Changes cursor to pointer */
  color: #fff; /* Text color */
  font-size: 1.1rem; /* Font size */
  font-family: 'Lato', sans-serif; /* Sets font family */
  padding: 8px 5px; /* Padding */
  text-align: center; /* Centers text */
  transition: 0.25s ease-in-out; /* Smooth transition */
  border-bottom-left-radius: 10px; /* Rounds bottom left corner */
  border-bottom-right-radius: 10px; /* Rounds bottom right corner */
}

/* Margin for span within copy button */
.copy-btn span {
  margin-right: 5px; /* Adds right margin */
}

/* Copy button hover effect */
.copy-btn:hover {
  background: #3a505871; /* Changes background color on hover */
}
